.record-button {
  background-color: #bfbfbf;
  color: rgb(36, 36, 36);
  border: none;
  height: 35px;
  width: 35px;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  bottom: 5px;
  right: 5px;
  z-index: 10;
}

.recording {
  color: #cb6c65 !important;
  animation: pulse 1s infinite alternate;
}

.loading {
  animation: spin 2s infinite linear;
}

.fa-stop {
  overflow: hidden;
  font-size: 10px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
