.record-button {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  color: rgba(2, 0, 36, 1);
  border: none;
  height: 35px;
  width: 35px;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  bottom: 5px;
  right: 5px;
  z-index: 10;
  opacity: 0.75;
  transition: all 0.3s;
}

.recording {
  color: #cb6c65 !important;
  animation: pulse 1s infinite alternate;
}

.loading {
  animation: spin 2s infinite linear;
}

.recording,
.loading {
  opacity: 1;
}

.fa-stop {
  overflow: hidden;
  font-size: 10px;
}

.icon {
  transition: all 0.3s;
}

.record-button:hover {
  opacity: 1;
  scale: 0.85;

  .icon {
    scale: 1.1;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
